# Excloure del repositori
# Directoris de resultat del Maven
target/
# Fitxers de projecte de Eclipse
.classpath
.project
.settings/
.factorypath
# Fitxers de projecte de IntelliJ IDEA
*.iml
.idea/
# Fitxers de projecte de Netbeans
nb-configuration.xml
#
# Arxius ignorats preexistents.
/arxiudigitalcaib/sample.xml
/arxiudigitalcaib/test.log
/arxiudigitalcaib/2018_01_22_XAdES_Detached_sample_xml.xml
/arxiudigitalcaib/CAIB-IMGD Tests Capa de Servicios CSGD-SGD v01r01.xml
/arxiudigitalcaib/compil.bat
/arxiudigitalcaib/connection.txt
/arxiudigitalcaib/expedient.txt
/arxiudigitalcaib/foto_xades_attached.xml
/arxiudigitalcaib/justificant.pdf
/arxiudigitalcaib/plugin.properties
/arxiudigitalcaib/rest.txt
/arxiudigitalcaib/src/test/java/org/fundaciobit/plugins/documentcustody/arxiudigitalcaib/test/BorrarTests.java
